.container {
    max-width: 851px;
    margin: 0 auto;
}

.header{
    padding: 54px 0 47px;
    border-bottom: 2px solid #d9d9d9;
}

.header-logo{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.hero{
    padding: 191px 0 99px;
}

.hero-title{
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-title span {
    color: #00ADB5;
}

.hero-button{
    padding: 10px 32px;
    border: transparent;
    border-radius: 24px;
    background-color: #393e46;
    font-size: 18px;
    font-weight: 700;
}

.hero-button:hover{
    background-color:#00ADB5;
}

.hero-item:not(:Last-child){
    margin-bottom: 24px;
}

.hero-skills{
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    padding: 0 0 50px;
}
.hero-list2{
    font-family: arial;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.hero-item2 span{
    color: #00ADB5;
}